@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
    --color-gradient-1: rgb(0, 130, 146);
    --color-gradient-2: rgb(0, 100, 122);
    --color-gradient-3: rgb(47, 72, 88);
}

/* style for the scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-gradient-1);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-gradient-2);
    border: 2px solid var(--color-gradient-3);
    border-radius: 200vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(115, 224, 228);
    min-height: 100vh;
}

body,
input,
button,
textarea {
    font-family: 'Oswald', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center; flex-direction: column;
}

a {
    text-decoration: none;
}

.main-title {
    color: #fff;
    text-align: center;
    margin-bottom: 55px;
    background-color: var(--color-gradient-2);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 1px 9px 11px 1px rgba(0, 0, 0, 0.75);
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links-list {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-bottom: 10px;
    background-color: var(--color-gradient-2);
}

.navbar--link {
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    line-height: 1;
    font-size: 20px;
    padding: 15px;
    color: #fff;
    position: relative;
    transition: background-color .3s;
}

.navbar--link:hover {
    background-color: var(--color-gradient-1);
}

.navbar--link::after {
    content: '';
    position: absolute;
    width: 100%;
    background-color: #fff;
    transform: scaleX(0);
    height: 2px;
    bottom: 0px;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navbar--link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.custom-btn {
    margin-block: 30px;
    font-size: 25px;
    padding: 10px;
    line-height: 1;
    background-color: var(--color-gradient-1);
    color: #fff;
    border-radius: 5px;
    border: none;
    transition: opacity .3s;
    cursor: pointer;
}

.custom-btn:hover {
    opacity: .8;
}

footer {
    height: 70px;
    margin-top: 20px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #fff;
    background-color: #1d887a;
}